﻿<div ng-app="app"
     ng-controller="dailySalesController"
     ng-cloak>
    <h3>Daily Sales</h3>
    <div>
        <img src="@Url.Content("~/images/wait20trans.gif")" alt="Loading..." ng-show="loading" class="medium-spinner" />
    </div>
    <div ng-include="'/app/Reporting/sales.html'" ng-hide="loading"></div>
</div>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Reporting/dailySalesController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/Reporting/salesSummaryService.js")" type="text/javascript"></script>
}
