﻿@using System.Threading.Tasks
@using Newtonsoft.Json
@model Dbsoft.Epm.Web.Controllers.Reporting.ItemSales.ItemSalesModel
@{
    ViewBag.Title = "Item Sales";
}

<div ng-app="app"
     ng-controller="ItemSalesController"
     ng-cloak>
    <h3>Item Sales</h3>
    <div class="form-group">
        <span>From</span><input ui-date ng-model="fromDate" name="FromDate" ng-change="refresh()" class="date-picker date" />
        <span>To</span><input ui-date ng-model="toDate" name="ToDate" ng-change="refresh()" class="date-picker date" />
    </div>
    <div>
        <img src="@Url.Content("~/images/wait20trans.gif")" alt="Loading..." ng-show="loading" class="medium-spinner" />
    </div>
    <table class="table table-striped table-bordered table-condensed table-clickable" ng-hide="loading">
        <tbody>
            <tr>
                <th class="display-text">Item</th>
                <th class="display-numeric">Quantity</th>
                <th class="display-numeric">Gross</th>
                <th class="display-numeric">Profit</th>
                <th class="display-numeric">%</th>
            </tr>
            <tr ng-repeat="result in model.detail" ng-click="toggleDetail(result)">
                <td>
                    {{result.itemName}}
                    <table class="table table-striped table-bordered table-condensed" ng-show="result.visible">
                        <tr>
                            <th>Date</th>
                            <th class="display-numeric">Quantity</th>
                            <th class="display-numeric">Gross</th>
                            <th class="display-numeric">Profit</th>
                            <th class="display-numeric">%</th>
                        </tr>
                        <tr ng-repeat="item in result.detail">
                            <td>{{item.dateTime | date:'M/d/yyyy'}}</td>
                            <td class="display-numeric">{{item.quantity | number:0}}</td>
                            <td class="display-numeric">{{item.grossAmount | number:0}}</td>
                            <td class="display-numeric">{{item.gpAmt | number:0}}</td>
                            <td class="display-numeric">{{item.gpPct | number:2}}</td>
                        </tr>
                    </table>

                </td>
                <td class="display-numeric">{{result.quantity}}</td>
                <td class="display-numeric">{{result.grossAmount | number:0}}</td>
                <td class="display-numeric">{{result.gpAmt | number:0}}</td>
                <td class="display-numeric">{{result.gpPct | number:2}}</td>
            </tr>
            <tr>
                <th>Totals</th>
                <th></th>
                <th class="display-numeric">{{model.totals.gross | number:0}}</th>
                <th class="display-numeric">{{model.totals.profit | number: 0}}</th>
                <th class="display-numeric">{{model.totals.margin | number: 2}}</th>
            </tr>
        </tbody>
    </table>
</div>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Reporting/ItemSalesController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/Reporting/ItemSalesService.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var model =
            @Html.Raw(
            JsonConvert.SerializeObject(Model,
                Formatting.Indented,
                new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
    </script>

}