﻿@using Dbsoft.Epm.Web.Infrastructure

@{
    ViewBag.Title = "Item Trends";
}

<div ng-app="app"
     ng-controller="ItemCostTrendController">
    <h3 class="inline-block">Item Cost Trends</h3>
    <a href="@HelpUrls.ItemCostTrends" target="_blank">
        <img src="~/images/info.jpg" alt="Help" class="info-icon" />
    </a>
    <div>
        <img src="@Url.Content("~/images/wait20trans.gif")" alt="Loading..." ng-show="loading" class="medium-spinner" />
    </div>
    <table class="table table-striped table-bordered table-condensed table-clickable" ng-hide="loading">
        <tbody>
            <tr>
                <th class="display-text">Item</th>
                <th class="display-numeric">Variance</th>
            </tr>
            <tr ng-repeat="item in model" ng-click="toggleDetail(item)">
                <td>
                    {{item.itemName}}
                    <table class="table table-striped table-bordered table-condensed" ng-show="item.visible">
                        <tr>
                            <th>Material</th>
                            <th class="display-numeric">Variance</th>
                            <th class="display-numeric">Weighted Variance</th>
                        </tr>
                        <tr ng-repeat="detail in item.detail">
                            <td>{{detail.materialName}}</td>
                            <td class="display-numeric">{{detail.variance | number:2}}</td>
                            <td class="display-numeric">{{detail.weightedVariance | number:2}}</td>
                        </tr>
                    </table>
                </td>
                <td class="display-numeric">{{item.variance | number:2}}</td>
            </tr>
        </tbody>
    </table>
</div>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Reporting/ItemCostTrendController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/Reporting/itemCostTrendService.js")" type="text/javascript"></script>
}
