﻿<div ng-app="app"
     ng-controller="monthlySalesController"
     ng-cloak>
    <h3>Monthly Sales</h3>
    <div>
        <img src="@Url.Content("~/images/wait20trans.gif")" alt="Loading..." ng-show="loading" class="medium-spinner"/>
    </div>
    <ng-include src="'/app/Reporting/sales.html'"></ng-include>
</div>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Reporting/monthlySalesController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/Reporting/salesSummaryService.js")" type="text/javascript"></script>
}
