﻿.info-icon {
	display: inline-block;
	height: 20px;
	width: 20px;
}

h3 ~ a .info-icon {
	margin-top: -8px;
}

.error {
	color: red;
}

a.error-link:link {
	color: red;
}

a.error-link:visited {
	color: red;
}

.date-picker {
	margin-left: 20px;
}

.display-numeric {
	text-align: right;
}

.input-wide {
	width: 400px;
}

.edit-label {
	vertical-align: top;
	display: inline-block;
	width: 150px;
	height: 15px;
	margin-right: 10px;
	font-weight: bold;
}

.edit-input {
	display: inline-block;
}

.account-mask {
	margin-right: 15px;
}

.vcode-input {
	width: 550px;
}

.account-li {
	border: 1px solid;
	padding: 10px;
	margin: 5px;
	display: table;
	width: 750px;
}

.body {
	background-color: #5c87b2;
}

.main {
	background-color: white;
}

table {
	background-color: white;
}

[ng-cloak] {
  display: none !important;
}

.inline-block {
	display: inline-block;
}