﻿@using Newtonsoft.Json
@model DBSoft.EPMWeb.Models.Home.DashboardModel

@{
    ViewBag.Title = "Dashboard";
}


<div ng-app="app"
     ng-controller="dashboardController" ng-cloak>
    <h3 class="header inline-block">Dashboard</h3>
    <a href="@Model.HelpUrl" target="_blank"><img src="~/Content/info.jpg" alt="Help" class="info-icon" /></a>
    <div>
        <img src="@Url.Content("~/Content/wait20trans.gif")" alt="Loading..." ng-show="model.loading" class="medium-spinner"/>
    </div>
    <table class="table table-striped table-bordered table-condensed" ng-hide="model.loading">
        <tbody>
            <tr><td>Profit/7</td><td class="display-numeric">{{model.sales7.profit | number:2}}</td></tr>
            <tr><td>Sales/7</td><td class="display-numeric">{{model.sales7.sales | number:2}}</td></tr>
            <tr><td>GP%/7</td><td class="display-numeric">{{model.sales7.gpPct | number:2}}</td></tr>
            <tr><td>Profit/30</td><td class="display-numeric">{{model.sales30.profit | number:2}}</td></tr>
            <tr><td>Sales/30</td><td class="display-numeric">{{model.sales30.sales | number:2}}</td></tr>
            <tr><td>GP%/30</td><td class="display-numeric">{{model.sales30.gpPct | number:2}}</td></tr>
            <tr><td>Cash</td><td class="display-numeric">{{model.walletBalance | number:2}}</td></tr>
            <tr><td>Assets</td><td class="display-numeric">{{model.capital | number:2}}</td></tr>
            <tr><td>Capital/Sales/30 Ratio</td><td class="display-numeric">{{model.capitalRatio | number:2}}</td></tr>
        </tbody>
    </table>
    @if (Model.IsAdmin)
    {

        <div>
            @using (Html.BeginForm())
            {
                <p>
                    @Html.LabelFor(f => f.Impersonate)
                    @Html.EditorFor(f => f.Impersonate)
                </p>
                <div>
                    <input type="submit" value="Submit" />
                </div>

            }
        </div>
    }
</div>

<script type="text/javascript">
    var model =
        @Html.Raw(
            JsonConvert.SerializeObject(Model,
                Formatting.Indented,
                new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
</script>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Home/dashboardController.js")" type="text/javascript"></script>
}




