﻿@model DBSoft.EPMWeb.Models.Reporting.SubscriberSalesModel
@{
    Layout = "~/Views/Reporting/_ReportingLayout.cshtml";
}

<h2>Subscriber Sales</h2>
@using (Html.BeginForm())
{
    <fieldset>
        @Html.EditorFor(model => model.FromDate)
        @Html.EditorFor(model => model.ToDate)
        <input value="Refresh" type="submit" />
    </fieldset>
}

@Html.Raw(Model.TableHtml)
