﻿@using Newtonsoft.Json
@model DBSoft.EPMWeb.Models.Account.AccountsModel 

@{
    ViewBag.Title = "Accounts";
}

<div 
    ng-app="app"
    ng-controller="accountMaintenanceController"
     ng-cloak
    id="accountMaintenance"
    data-save-account-url="@Url.Action("SaveAccount")">
    <h2>Accounts</h2>
    <h4 ng-show="!hasVisibleAccount()">You must configure at least one Eve API Account</h4>
    <div>
        <span>Show Deleted</span>
        <input type="checkbox" ng-model="model.showDeleted"/>
    </div>
    <ul> 
        <li class="account-li" ng-repeat="account in model.Accounts | filterAccounts:model.showDeleted">
            <p>
                <span class="edit-label  ">Api Name</span>
                <span ng-hide="account.isEditing">{{account.AccountName}}</span>
                <input ng-show="account.isEditing" type="text" ng-model="account.AccountName"/>
            </p>
            <p>
                <span class="edit-label">Api Key ID</span>   
                <span ng-hide="account.isEditing">{{account.ApiKeyID}}</span>
                <input ng-show="account.isEditing" type="text" ng-model="account.ApiKeyID"/>
            </p>
             <p>
                <span class="edit-label">Api Verification Code</span>
                <span ng-hide="account.isEditing">{{account.ApiVerificationCode}}</span>
                <input class="vcode-input" ng-show="account.isEditing" type="text" ng-model="account.ApiVerificationCode"/>
            </p>
            <p>
                <span class="edit-label">Required API Access</span>
                <span class="account-mask" ng-class="{error: !maskEnablesTransactions(account.ApiAccessMask, account.ApiKeyType)}">Transactions</span>
                <span class="account-mask" ng-class="{error: !maskEnablesOrders(account.ApiAccessMask)}">Market Orders</span>
                <span class="account-mask" ng-class="{error: !maskEnablesBalance(account.ApiAccessMask)}">Account Balance</span>
                <span class="account-mask" ng-class="{error: !maskEnablesAssets(account.ApiAccessMask)}">Assets</span>
                <span class="account-mask" ng-class="{error: !maskEnablesIndustryJobs(account.ApiAccessMask)}">Industry Jobs</span>
            </p>
            <p ng-show="model.showDeleted || account.isEditing">
                <span class="edit-label">Deleted</span>
                <span ng-hide="account.isEditing">{{account.DeletedFlag}}</span>
                <input ng-show="account.isEditing" type="checkbox" ng-model="account.DeletedFlag"/>
            </p>
            <p class="error" ng-show="account.isError && account.isEditing">{{account.errorMessage}}</p>
            <p>
                <input ng-show="account.isEditing && !account.isSaving" type="button" value="Save" ng-click="saveAccount(account)"/>
                <input ng-show="account.isEditing && !account.isSaving" type="button" value="Cancel" ng-click="cancelEditAccount(account)"/>
                <img src = "@Url.Content("~/Content/wait20trans.gif")" alt ="Saving..." ng-show="account.isSaving" />
                <input ng-hide="account.isEditing" type="button" value="Edit" ng-click="beginEditAccount(account)"/>
            </p>
        </li>
    </ul>
    <p>
        <input type="button" value="Add" ng-click="addAccount()"/>
    </p>
</div>

<script type="text/javascript">
    var accountMaintenanceModel =
        @Html.Raw(
            JsonConvert.SerializeObject(Model,
                                        Formatting.Indented,
                                                          new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
</script>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Maintenance/accountMaintenanceController.js")" type="text/javascript"></script>
}