﻿@using Newtonsoft.Json
@model DBSoft.EPMWeb.Models.Production.BuildableItemListModel

<a href="https://dbsoft.atlassian.net/wiki/display/EPM/Item+Maintenance+-+Buildable" target="_blank"><img src="~/Content/info.jpg" alt="Help" class="info-icon"/></a>

<div 
     ng-controller="itemMaintenanceController"
     id="itemMaintenance"
     data-save-item-url="@Url.Action("SaveItem")">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Item</th>
            <th>Minimum Stock</th>
            <th>Per Item Additional Cost</th>
        </tr>
        <tr ng-repeat="item in model.Detail">
            <td>{{item.ItemName}}</td>
            <td class="display-numeric">
                <div ng-hide="item.isEditing">{{item.MinimumStock}}</div>
                <input ng-show="item.isEditing" type="number" ng-model="item.MinimumStock" class="numeric-edit" />
            </td>
            <td class="display-numeric">
                <div ng-hide="item.isEditing">{{item.PerJobAdditionalCost | number}}</div>
                <input ng-show="item.isEditing" type="number" ng-model="item.PerJobAdditionalCost" class="numeric-edit" />
            </td>
            <td>
                <input ng-show="item.isEditing && !item.isSaving" type="button" value="Save" ng-click="saveItem(item)" />
                <input ng-show="item.isEditing && !item.isSaving" type="button" value="Cancel" ng-click="cancelEditItem(item)" />
                <img src="@Url.Content("~/Content/wait20trans.gif")" alt="Saving..." ng-show="item.isSaving" />
                <input ng-hide="item.isEditing" type="button" value="Edit" ng-click="beginEditItem(item)" />
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var itemMaintenanceModel =
        @Html.Raw(
            JsonConvert.SerializeObject(Model,
                                        Formatting.Indented,
                                                          new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
</script>

