﻿@using Newtonsoft.Json
@using DBSoft.EPMWeb.Models.Production
@model ProductionQueueModel

@{
    ViewBag.Title = "Build Items";
}


<div ng-app="app"
     ng-controller="productionQueueController" ng-cloak>
    <h3 class="header">Build Items</h3><a href="@ProductionQueueModel.HelpUrl" target="_blank"><img src="~/Content/info.jpg" alt="Help" class="info-icon" /></a>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            <tr>
                <th class="display-text">Item</th>
                <th class="display-numeric">Quantity</th>
                <th class="display-numeric">Batch Size</th>
                <th class="display-numeric">Hourly Profit</th>
                <th class="display-numeric">Markup</th>
                <th class="display-numeric">Profit Factor</th>
                <th class="display-numeric">Freight Cost</th>
            </tr>
            <tr ng-repeat="result in model.Detail" ng-class="getClass(result)">
                <td>{{result.ItemName}}</td>
                <td class="display-numeric">{{result.Quantity | number:0}}</td>
                <td class="display-numeric">{{result.MinimumStock | number:0}}</td>
                <td class="display-numeric">{{result.HourlyProfit | number:0}}</td>
                <td class="display-numeric">{{result.Markup | number:2}}</td>
                <td class="display-numeric">{{result.ProfitFactor | number:0}}</td>
                <td class="display-numeric">{{result.FreightCost | number:0}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var model =
        @Html.Raw(
            JsonConvert.SerializeObject(Model,
                Formatting.Indented,
                new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
</script>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Production/productionQueueController.js")" type="text/javascript"></script>
}




