﻿@{
    ViewBag.Title = "ItemMaintenance";
}


<fieldset>
    <legend>Item Maintenance</legend>
    <div id="tabs">
        <ul>
            <li><a href="#buildable">Buildable</a></li>
            <li><a href="#material">Material</a></li>
        </ul>
        <div ng-app="app" ng-cloak>
            <div id="buildable">
                <p>
                    @{Html.RenderAction("BuildableItemList");}
                </p>
            </div>
            <div id="material">
                <p>
                    @{Html.RenderAction("MaterialItemList");}
                </p>
            </div>
        </div>
    </div>
</fieldset>

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Production/itemMaintenanceController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/app/Production/materialMaintenanceController.js")" type="text/javascript"></script>
}