﻿@model DBSoft.EPMWeb.Models.MarketStatusModel
@{
	Layout = null;
}

@{
	Html.RenderPartial("_ApiButton", Model);
}

<table>
	<tr>
		<th>Market Status</th>
		@if (Model.Callback.Status == DBSoft.EPMWeb.ImportStatus.Running)
		{  
			<th>Progress</th>
		}
	</tr>
	<tr>
		<td>@Model.Callback.Status</td>
		@if ( Model.Callback.Status == DBSoft.EPMWeb.ImportStatus.Running )
		{ 
			<td>@Model.Callback.Progress</td>
		}
	</tr>
	<tr></tr>
</table>
