﻿@using Newtonsoft.Json
@model DBSoft.EPMWeb.Models.Reporting.MaterialItemListModel

<a href="https://dbsoft.atlassian.net/wiki/display/EPM/Item+Maintenance+-+Materials" target="_blank">
    <img src="~/Content/info.jpg" alt="Help" class="info-icon" />
</a>

<div 
     ng-controller="materialMaintenanceController"
     id="materialMaintenance"
     data-save-item-url="@Url.Action("SaveMaterial")">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Item</th>
            <th>Bounce Factor</th>
            <th>Last Modified</th>
        </tr>
        <tr ng-repeat="item in model.Detail">
            <td>{{item.ItemName}}</td>
            <td class="display-numeric">
                <div ng-hide="item.isEditing">{{item.BounceFactor}}</div>
                <input ng-show="item.isEditing" type="number" step="any" ng-model="item.BounceFactor" class="numeric-edit" />
            </td>
            <td>{{item.LastModified | date:'shortDate'}}</td>
            <td>
                <input ng-show="item.isEditing && !item.isSaving" type="button" value="Save" ng-click="saveItem(item)" />
                <input ng-show="item.isEditing && !item.isSaving" type="button" value="Cancel" ng-click="cancelEditItem(item)" />
                <img src="@Url.Content("~/Content/wait20trans.gif")" alt="Saving..." ng-show="item.isSaving" />
                <input ng-hide="item.isEditing" type="button" value="Edit" ng-click="beginEditItem(item)" />
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var materialMaintenanceModel =
        @Html.Raw(
            JsonConvert.SerializeObject(Model,
                                        Formatting.Indented,
                                                          new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
</script>
