﻿@model DBSoft.EPMWeb.Models.Production.ProductionMaterialModel

@{
    ViewBag.Title = "Production Materials";
}
<h3 class="header">Production Queue Materials</h3><a href="@Model.HelpUrl" target="_blank"><img src="~/Content/info.jpg" alt="Help" class="info-icon"/></a>
@Html.Raw(Model.TableHtml)
