﻿@using Newtonsoft.Json
@using DBSoft.EPMWeb.Models.Production
@model RefreshApiModel

@{
    ViewBag.Title = "Refresh API";
}

<h3 class="header">Refresh API</h3>
<a href="@Model.HelpUrl" target="_blank"><img src="~/Content/info.jpg" alt="Help" class="info-icon" /></a>

<div ng-app="app" ng-controller="refreshApiController" ng-cloak>
    <p>
        <button class="btn btn-large btn-primary" ng-class="{ 'disabled' : running }" ng-click="startRefresh()">Refresh API</button>
    </p>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <td>API</td>
                <td>Expires</td>
                <td>Result</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" ng-class="getRowClass(item)">
                <td>{{item.ApiName}}</td>
                <td>{{item.Expiry | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{item.Result}}</td>
            </tr>
        </tbody>
    </table>
</div>


@section ScriptBlock {
    <script src="@Url.Content("~/app/Production/refreshApiController.js")" type="text/javascript"></script>
}




















